/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap'); */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

aside,
main,
nav {
    padding: 10px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Comfortaa', cursive;
}

a,
a:visited,
a:hover,
a:link {
    color: rgb(44, 105, 155);
}

a:hover {
    color: #777;
}

button {
    background: none;
    border-width: 0px;
    text-decoration: none;
}

header {
    margin-top: 20px;
}

nav {
    position: sticky;
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: solid #dbdbdb 1px;
    left: 0px;
    top: 0px;
    padding: 0px 3vw;
}

nav,
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

nav ul {
    list-style-type: none;
}

aside {
    position: fixed;
    right: 0px;
    top: 70px;
    width: calc(40vw - 6px);
    background-color: #f2f2f2;
    height: calc(100vh - 100px);
    padding-left: 30px;
}

aside>header,
.modal-body h3 {
    font-family: 'Comfortaa', cursive;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

aside img,
.modal-body h3>img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

aside>header button,
.modal-body h3>button {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

main {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stories {
    padding: 10px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 50vw;
    min-width: 540px;
    border: solid 1px #dbdbdb;
    margin-bottom: 30px;
    background-color: #fff;
    overflow: hidden;
}

.stories>div {
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stories>div img {
    width: 50px;
    height: 50px;
    border: solid 3px #dbdbdb;
    border-radius: 27px;
}

.stories>p {
    font-size: 0.80em;
    color: #999;
}

.suggestions section {
    display: grid;
    grid-template-columns: 50px 200px auto;
    align-items: center;
}

.suggestions section>div {
    padding: 8px;
}

.suggestions section>div>p {
    margin: 0px;
    padding-left: 10px;
}

.suggestions section #suggested-for-you {
    color: #999;
    padding-top: 5px;
    font-size: 15px;
}

.suggestions .button {
    text-align: center;
    color: #2d699b;
}

.card {
    border: solid 1px #dbdbdb;
    margin-bottom: 30px;
    background-color: #fff;
    width: 50vw;
    min-width: 540px;
}


@media (max-width: 900px) {
    aside {
        display: none;
    }

    main {
        width: 100vw;
        padding: 0px;
        align-items: center;
    }

    .card,
    .stories {
        width: 75vw;
        min-width: auto;
    }
}

@media (max-width: 700px) {

    .card,
    .stories {
        width: 90vw;
    }
}